* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.item {
    flex: 1 0 100px;
    height: 100px;
    background-color: #254de4;
    color: #fff;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container {
    background-color: #f4f4f4;
    flex-direction: row;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.item:nth-of-type(1){
}

.item:nth-of-type(2){
}

.item:nth-of-type(3){
}